/* body{
    width: auto;
    height: 97vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(130deg,rgb(0, 217, 255),rgb(65, 5, 229));
}
.main-box{
background: linear-gradient(120deg, rgb(66, 58, 58),rgb(173, 28, 28),rgb(202, 138, 20));
margin:auto ;
min-width: 340px;
height: 540px;
border-radius: 15px;
border: 2px solid black;
}
.text-box input[class=display]{
    align-items: center;
    background-color: yellowgreen;
    border: none;
    width: 320px;
    height: 70px;
    padding-top: -100px;
    text-align: right;
    font-size: 45px;
    border-radius: 15px;
}
.text-box input[id=display-1]{
    align-items: center;
    background-color: yellowgreen;
    border: none;
    width: 320px;
    height: 70px;
    padding-top: -100px;
    text-align: right;
    font-size: 30px;
}
.text-box input[class=display-2]{
    width: 300px;
    font-size: larger;
    margin:0px 0px 10px 15px;
    position: relative;
    border: none; 
    display: flex;
    height: 25px;
    justify-content: flex-start;
    text-align: right;
    background-color: yellowgreen;
}

.text-box{
    background-color: yellowgreen;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
    position: relative;
   }
.button-1 input{
   width: 100px;
    margin: 5px 5px 7px 15px;
   font-size: larger;
    height: 40px;
    border-radius: 10px;
    background-color: blanchedalmond;
    box-shadow: -4px -4px 4px black;

}
.button-1{
    display: inline;
}
.button-2 input,.button-3 input,.button-4 input,.button-5 input{
margin: 10px;
width: 60px;
height: 60px;
border: none;
border-radius: 30px;
font-size: larger;
background-color: rgb(207, 144, 144);
box-shadow: -4px -4px 4px black;
}
img{
    cursor: pointer;
}
.second-box{
    height: 320px;
    width: 340px;
    background: linear-gradient(120deg, rgb(66, 58, 58),rgb(173, 28, 28),rgb(202, 138, 20));  
    position: fixed;
    top: 300px;
    visibility: hidden;
}
.second-1 input,.second-2 input,.second-3 input,.second-4 input{
    margin: 10px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: medium;
    background-color: rgb(145, 142, 142);
    box-shadow: -4px -4px 4px black; 
}
span{
    margin-left: 40px;
    width: 30px;
    text-align: center;
    height: 50px;
    cursor: pointer;
}

 /* @media screen and (max-width:400px){ 
    .main-box {
            width: 48vh;
            height: fit-content;
            margin: 20% 25%;
    
        }
    body{
        padding: 10px;
        height: 95vh;
    }
    .second-box{
        top:320px;
    } */
body{
    height:100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(130deg,rgb(0, 217, 255),rgb(65, 5, 229));
}
.main-box{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:80%;
    max-width: 370px;
    border:1px solid black;
    outline: 2px solid yellowgreen;
    outline-offset: 2px;
    box-shadow: -1px 2px 10px black;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(120deg, rgb(66, 58, 58),rgb(173, 28, 28),rgb(202, 138, 20));
    margin-top: 100px;
    position: relative;
    justify-content: space-between;
    height: 520px;
}
 .text-box{
    width: 100%;
    height: 90px;
    background-color: yellowgreen;
    border-radius: 10px;
 }
.text-box .display{
    height: 38px;
    width: 94%;
    margin: auto 2%;
    margin-top:10px;
    text-align: right;
    font-size: 30px;
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
}
.text-box .display-2{
    height: 22px;
    text-align: right;
    font-size: 15px;
    margin:16px 5% auto 46.5%;
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
}
.button-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    margin-top: 15px;
}
.button-1 input{
    font-size: large;
    margin-right: 20px;
    background-color: brown;
    height: 30px;
    border-radius: 5px;
}
span{
    margin-left: 175px;  
}
.button-2 , .button-3 , .button-4 , .button-5  {
    margin-left: 15px;
    width: 95%;
    /* margin: 15px 0px 15px 0px; */
}
.button-2 input , .button-3 input , .button-4 input , .button-5 input  {
    width:65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 18px;
    font-size: medium;
    background-color: rgb(207, 144, 144);
    box-shadow: -2px -2px 4px black;
}
.second-box{
    width: 100%;
    margin: auto;
    right:0px;
    position: absolute;
    background: linear-gradient(120deg, rgb(66, 58, 58),rgb(173, 28, 28),rgb(202, 138, 20));
    top:175px;
    border-radius: 15px;
    visibility: hidden;
}
.second-1 input,.second-2 input,.second-3 input,.second-4 input{
    width:65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    font-size: larger;
    background-color: rgb(207, 144, 144);
    box-shadow: -2px -2px 4px black;}

@media screen and (max-width:475px){
body{
    
    padding: 0px 10px;
    margin: 0px;
}
.main-box{
    width:330px;
    

}
.button-2 input , .button-3 input , .button-4 input , .button-5 input  {
    width:65px;
    height: 65px;
    border-radius: 50%;
    font-size: large; 
    margin-right: 5px;
    margin-left: 3px;
}
.second-box{
    width: 100%;
    margin: auto;
    padding-right: -10px;
    position: absolute;
    top:180px;
}
.second-1 input,.second-2 input,.second-3 input,.second-4 input{
      margin-right: 5px;
    margin-bottom: 25px;
    margin-left: 5px;
    font-size: large;
}
.second-1,.second-2,.second-3,.second-4{
    margin-left: 20px;
   
}
.text-box .display-2{
    margin:10px 0px 3px 130px;
    height: 25px;
  
}
span{
    margin-left: 140px; 
    
}
}